.idea
1.regular-expressions-to-FA/node_modules
1.regular-expressions-to-FA/yarn.lock
2.NFA-to-DFA/node_modules
2.NFA-to-DFA/yarn.lock
3.CFG-to-CNF/node_modules
3.CFG-to-CNF/yarn.lock
4.LL1/package-lock.json
4.LL1/node_modules
ll1-expressjs-api/dist
ll1-expressjs-api/node_modules
ll1-react-app/node_modules